* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--index: calc(1vw + 1vh);
	}
@font-face {
	font-family: raleway_f; /* f - fonts non-system*/
	src: url(../fonts/raleway-regular.woff2);


}
@font-face {
	font-family: raleway_f;
	src: url(../fonts/raleway-black.woff2);
	font-weight: 900;
}
body { /* style for all page*/
	background-color: #010101;
	color: white;
	font-family: raleway_f, sans-serif;
	line-height: 1.55; /* межстрочный интервал */
}
.main-header {
	position: relative;
}

.main-header::after {
	content: '';
	position: absolute;
	z-index: 3;
	width: 100%;
	height: calc(var(--index) * 30);
	background-image: url(../img/ground.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	bottom: calc(var(--index) * -14);
}
.layers {
	height: 100vh;
	display: flex;
	align-items:center;
	justify-content: center;
	text-align: center;
	overflow: hidden;
	position: relative;

}
.layer {
	height: 100%;
	width: 100%;
	position: absolute; /*рястянуть на весь экран по ширине*/
	background-size: cover; /* использовать весь рисунок вне зависимости от размера*/
	background-position: center;
	will-change: transform;
}
.layers__base {
	transform: translate3d(0,calc(var(--scrolltop)/2),0);
	z-index: 1;
}

.layers__middle{
	transform: translate3d(0,calc(var(--scrolltop)/3),0);
	z-index: 1;
}
.layers__front{
	transform: translate3d(0,calc(var(--scrolltop)/5),0);
	z-index: 2;
}

.layer__header {

	z-index: 3; /*open view */
	transform: translate3d(0,calc(var(--scrolltop)/2),0);
	text-transform: uppercase;
	font-weight: 900;
	text-shadow: 0 0 20px white;
}
.layers__title {
	font-size: calc(var(--index)*2.5);
	letter-spacing: calc(var(--index)*1.1);
	color: white;
}

.layers__caption {
	font-size: calc(var(--index)*0.7);
	letter-spacing: calc(var(--index)*0.2);
	/*color: ;*/
}
.main-article {
	min-height: 100vh;
	width: 100%;
	position: absolute;
	background-size: cover;
	background-position: center;
	align-items: center;
	display: flex;
	justify-content: center;
	z-index: 2;
	text-align: center;
}
.main-article__header {
	margin-top: calc(var(--index)*2)vw;
	font-size: calc(var(--index)*1.8);
	letter-spacing: calc(var(--index)*0.5);
}
.main-article__paragraph {
	bottom: calc(var(--index)*5.5);
	max-width: calc(var(--index) * 50);
	font-weight: normal;
	text-shadow: 0 0 10px white;

}
.copy{
	position: absolute;
	bottom: calc(var(--index)*1.5);
	opacity: 0.8;
}
.social-icon a i{
	color: black;
	font-size: 20px;
	margin-left: 1px;
	cursor: pointer;
	transition: 0.5s ease;
}

.social-icon a:hover i{
	transform: scale(1.2);
}